[Desktop Entry]
Name=Image Viewer
Exec=sh -c 'imv -n "$1" "$(dirname "$1")"' sh %f
Icon=imv
Type=Application
MimeType=image/png;image/jpeg;image/jpg;image/gif;image/bmp;image/webp;image/tiff;image/x-xcf;image/x-portable-pixmap;image/x-xbitmap;
Terminal=false
Categories=Graphics;Viewer;
